name: Build Release

on:
  release:
    types:
      - created
      - published

jobs:
  buildRelease:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build release
        run: |
          chmod +x gradlew
          ./gradlew clean release

      - name: Upload to Release assets
        uses: softprops/action-gh-release@v2
        with:
          files: out/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
