name: Gradle CI

on:
  push:
  pull_request:
    types: [ opened, ready_for_review, reopened ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: "github.event_name != 'push' || !startsWith(github.event.head_commit.message, '[skip ci]')"
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          chmod +x gradlew
          ./gradlew build

  dependency-submission:
    runs-on: ubuntu-latest
    if: "github.event_name != 'push' || !startsWith(github.event.head_commit.message, '[skip ci]')"
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
